In [1]:
# multipe parameter 
import pandas as pd
data = pd.read_csv('ex1data2.txt', header=None, names=['Size', 'Bedrooms', 'Price'])
data = data.apply(lambda x: (x-x.mean())/x.std(), axis=0)
data

        Size  Bedrooms     Price
0   0.130010 -0.223675  0.475747
1  -0.504190 -0.223675 -0.084074
2   0.502476 -0.223675  0.228626
3  -0.735723 -1.537767 -0.867025
4   1.257476  1.090417  1.595389
5  -0.019732  1.090417 -0.323998
6  -0.587240 -0.223675 -0.204036
7  -0.721881 -0.223675 -1.130948
8  -0.781023 -0.223675 -1.026973
9  -0.637573 -0.223675 -0.783051
10 -0.076357  1.090417 -0.803053
11 -0.000857 -0.223675  0.052682
12 -0.139273 -0.223675 -0.083283
13  3.117292  2.404508  2.874981
14 -0.921956 -0.223675 -0.643896
15  0.376643  1.090417  0.875619
16 -0.856523 -1.537767 -0.323998
17 -0.962223 -0.223675 -1.123743
18  0.765468  1.090417  1.276275
19  1.296484  1.090417  2.068039
20 -0.294048 -0.223675 -0.699878
21 -0.141790 -1.537767 -0.683083
22 -0.499157 -0.223675 -0.779852
23 -0.048673  1.090417 -0.643896
24  2.377392 -0.223675  1.867303
25 -1.133356 -0.223675 -0.723870
26 -0.682873 -0.223675  0.992382
27  0.661026 -0.223675  1.028370
28  0.250810 -0.223675  1.076355
29  0.800701 -0.223675 -0.323998
30 -0.203448 -1.537767  0.075875
31 -1.259189 -2.851859 -1.363666
32  0.049477  1.090417 -0.204036
33  1.429868 -0.223675  1.915287
34 -0.238682  1.090417 -0.435962
35 -0.709298 -0.223675 -0.723870
36 -0.958448 -0.223675 -0.883819
37  0.165243  1.090417  0.036687
38  2.786350  1.090417  1.668166
39  0.202993  1.090417 -0.427165
40 -0.423657 -1.537767  0.224627
41  0.298626 -0.223675 -0.084074
42  0.712618  1.090417 -0.211234
43 -1.007523 -0.223675 -0.331196
44 -1.445423 -1.537767 -1.283692
45 -0.187090  1.090417 -0.323998
46 -1.003748 -0.223675 -0.807044

In [2]:
data.insert(0, 'Ones', 1)

In [3]:
data

    Ones      Size  Bedrooms     Price
0      1  0.130010 -0.223675  0.475747
1      1 -0.504190 -0.223675 -0.084074
2      1  0.502476 -0.223675  0.228626
3      1 -0.735723 -1.537767 -0.867025
4      1  1.257476  1.090417  1.595389
5      1 -0.019732  1.090417 -0.323998
6      1 -0.587240 -0.223675 -0.204036
7      1 -0.721881 -0.223675 -1.130948
8      1 -0.781023 -0.223675 -1.026973
9      1 -0.637573 -0.223675 -0.783051
10     1 -0.076357  1.090417 -0.803053
11     1 -0.000857 -0.223675  0.052682
12     1 -0.139273 -0.223675 -0.083283
13     1  3.117292  2.404508  2.874981
14     1 -0.921956 -0.223675 -0.643896
15     1  0.376643  1.090417  0.875619
16     1 -0.856523 -1.537767 -0.323998
17     1 -0.962223 -0.223675 -1.123743
18     1  0.765468  1.090417  1.276275
19     1  1.296484  1.090417  2.068039
20     1 -0.294048 -0.223675 -0.699878
21     1 -0.141790 -1.537767 -0.683083
22     1 -0.499157 -0.223675 -0.779852
23     1 -0.048673  1.090417 -0.643896
24     1  2.377392 -0.223675  1.867303
25     1 -1.133356 -0.223675 -0.723870
26     1 -0.682873 -0.223675  0.992382
27     1  0.661026 -0.223675  1.028370
28     1  0.250810 -0.223675  1.076355
29     1  0.800701 -0.223675 -0.323998
30     1 -0.203448 -1.537767  0.075875
31     1 -1.259189 -2.851859 -1.363666
32     1  0.049477  1.090417 -0.204036
33     1  1.429868 -0.223675  1.915287
34     1 -0.238682  1.090417 -0.435962
35     1 -0.709298 -0.223675 -0.723870
36     1 -0.958448 -0.223675 -0.883819
37     1  0.165243  1.090417  0.036687
38     1  2.786350  1.090417  1.668166
39     1  0.202993  1.090417 -0.427165
40     1 -0.423657 -1.537767  0.224627
41     1  0.298626 -0.223675 -0.084074
42     1  0.712618  1.090417 -0.211234
43     1 -1.007523 -0.223675 -0.331196
44     1 -1.445423 -1.537767 -1.283692
45     1 -0.187090  1.090417 -0.323998
46     1 -1.003748 -0.223675 -0.807044

In [4]:
data.columns

Index(['Ones', 'Size', 'Bedrooms', 'Price'], dtype='object')

In [12]:
X2 = data[['Ones', 'Size', 'Bedrooms']] 
y2 = data['Price']

In [14]:
# to matrix
import numpy as np
X2 = np.matrix(X2.values)
y2 = np.matrix(y2.values)
theta2 = np.matrix(np.array([0,0,0]))

AttributeError: 'matrix' object has no attribute 'values'

In [16]:
def computeCost(X, y, theta):
    inner = np.power(((X * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(X))

def gradientDescent(X, y, theta, alpha, iters):
    temp = np.matrix(np.zeros(theta.shape))
    parameters = int(theta.ravel().shape[1])
    cost = np.zeros(iters)
    
    for i in range(iters):
        error = (X * theta.T) - y
        
        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            temp[0,j] = theta[0,j] - ((alpha / len(X)) * np.sum(term))
            
        theta = temp
        cost[i] = computeCost(X, y, theta)
        
    return theta, cost




alpha = 0.01
iters = 1500
g2, cost2 = gradientDescent(X2, y2, theta2, alpha, iters)

In [17]:
g2

matrix([[-1.11778199e-16,  3.40153437e-18, -3.54326497e-18]])

In [12]:
import numpy as np
# A = np.mat([1,2], [3,4], [5,6])
A =np.mat('1,2; 3,4;5,6')
B = np.mat('1,2,3;4,5,6')

NameError: name 'zeros' is not defined

In [15]:
v = [0] * 10

# for i in range(10):
#   for j in range(10):
#     v(i) = v(i) + A(i, j) * x(j);